{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calamity Terraria</title>
    <link rel="stylesheet" href="'style.css'">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>

</head>
<body>  
    <div id="header">
        {{ template "searchbar" . }}
    </div> 
    <div id="content">
        {{ template "results" . }}
    </div>  
</body>
</html>
{{ end }}


{{ block "searchbar" . }}
<form id="searchbar" hx-get="/search">
    <input value="{{ .Search }}" type="text" name="searchbar" />
    <button type="submit">Search</button>
</form>
{{ end }}

{{ block "results" . }}
<div>
    {{ ".item" }}
</div>
{{ end }}