{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calamity Terraria</title>
    <link rel="stylesheet" href="'style.css'">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>

</head>
<body>  
    <div id="content">
        {{ template "searchbar" . }}
        <div id="count">
            {{template "count" . }}
        </div>
        <button hx-target="#count" hx-post="/count" >NGU</button>
    </div>    
</body>
</html>
{{ end }}

{{ block "count" .}}
    Count {{ .Count }}
{{ end }}

{{ block "searchbar" . }}
    <div id="searchbar">
        <form id="searchbar" name="item">{{ .item }}</form>
        <button type="submit"> Search </button>
    </div>
{{ end }}